@model ATM_exercise.Models.UserModel

<div class="background p-3">
    <div class="row pt-2">
        <div class="col-4">
        <div asp-validation-summary="ModelOnly"></div>

            <div class="col-4 text-right">
            </div>
        </div>
        <div class="col-4 text-left">
            <br />
            <h2 class="text-regular">Enter data</h2>
            <label for="fname">Enter Name:</label><br>
            <input type="text" id="fname" name="fname" value=""><br>

            <span asp-validation-for="PersonName"></span>

            <label for="lname">Enter Surname:</label><br>
            <input type="text" id="lname" name="lname" value=""><br><br>
            <label for="pin">Enter PIN:</label><br>
            <input type="password" id="lname" name="lname" value=""><br><br>
             <div>
             </div>
@*            if (fname == PersonName)
            {
                return ClientMenu;
            }*@
            <a asp-controller="ATM" asp-action="ClientMenu" class='btn btn-success'> Submit </a>
            <a asp-controller="ATM" asp-action="Index" class='btn btn-danger'> Back </a>
        </div>
    </div>
    <br />
</div>